*, *::before, *::after{
    box-sizing: border-box;
}
:root{
    --primary-color: rgba(219, 143, 0, 0.884);
    --optional-color: #525252;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    background-color: #e7e7e7;
}
.primary-color{
    background-color: var(--primary-color);
}
.henry-head{
    font-weight: bold;
    font-size: 2.5em;
}
.henry-btn{
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
}
header{
    background-color: rgba(221, 202, 166, 0.884);
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
}
nav{
    padding: 30px 200px;
}
nav, nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
nav li{
    list-style: none;
    margin-right: 35px;
}
nav a{
    text-decoration: none;
    color: var(--optional-color);
}
.bio-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.bio-des{
    padding: 0 100px;
    margin-left: 50px;
}
.bio-des button{
    margin-right: 25px;
}
.bio-info img{
    height: 430px;
}
.description{
    width: 1000px;
    margin: 100px auto;
    padding: 100px;
    text-align: center;
    background-color: rgba(216, 216, 215, 0.884);
    border-radius: 15px;

}
.status, .projects, .summary, .summary-div, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.what-i-do{
    text-align: center;
    width: 1000px;
    padding: 100px;
    margin: 0 auto;
}
.projects{
    width: 1200px;
    margin: auto;
}
.project{
    width: 250px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 15px;
}
.summary{
    margin: 50px;
    flex-direction: column;
    padding: 20px 10px;
}
.summary-div{
    margin: 10px;
    padding: 10px;
}
.summary-description h4,.summary-description p{
    color: var(--optional-color);
    margin-bottom: 5px;
}
hr{
    margin: 50px 20px;
}
.summary-description{
    padding: 30px;
}

.text{
    color: #000;
}
footer{
    background-color: rgba(211, 210, 209, 0.884);
    padding: 100px;
}
.left-side, .right-side{
    width: 50%;
    padding: 10px;
    text-align: center;
}
.social-icons img{
    margin-right: 15px;
}
input[type='text'], input[type='email'], textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 15px;
    border: none;
    font-size: 1.1rem;
}
input[type='text'], input[type='email']{
    height: 2em;
}
@media only screen and (max-width: 769px) {
    .projects, .bio-info, footer, .status{
        flex-direction: column;
        row-gap: 10px;
    }
    .projects, .summary, .what-i-do, .description, .left-side, .right-side, header{
        width: 100%;
        margin: 0px;
    }

    nav{
        padding: 30px;
        width: 100%;
    }
    nav li{
        margin-right: 10px;
    }
    button{
        margin: 10px 0;
        font-size: 16px;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
}


